# Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is both unordered and unindexed.

Sets are written with curly brackets.

In [4]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

# Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

# Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

# Unchangeable
Sets are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can add new items.

# Duplicates Not Allowed
Sets cannot have two items with the same value.

In [5]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

# Get the Length of a Set
To determine how many items a set has, use the len() method.

In [6]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

# Set Items - Data Types
Set items can be of any data type:

In [7]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

A set can contain different data types:

In [9]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'male', 'abc'}

# type()
From Python's perspective, sets are defined as objects with the data type 'set':

In [10]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

# The set() Constructor
It is also possible to use the set() constructor to make a set.

In [12]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)
print(type(thisset))

{'banana', 'apple', 'cherry'}
<class 'set'>

# Python - Add Set Items

# Add Items
Once a set is created, you cannot change its items, but you can add new items.

In [13]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'apple', 'cherry'}

# Add Sets
To add items from another set into the current set, use the update() method.

In [14]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'pineapple', 'papaya', 'mango', 'apple', 'cherry'}

# Add Any Iterable
The object in the update() method does not have be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [15]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'kiwi', 'cherry', 'orange', 'apple'}

# Python - Remove Set Items

# Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [18]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("apple")

print(thisset)

{'banana', 'cherry'}

If the item to remove does not exist, remove() will raise an error.

In [21]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

Note: If the item to remove does not exist, discard() will NOT raise an error.

# The clear() method empties the set:

In [25]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

# Join Two Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

# The union() method returns a new set with all items from both sets:

In [26]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'a', 'c'}

# The update() method inserts the items in set2 into set1:

In [27]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 1, 2, 3, 'a', 'c'}

Note: Both union() and update() will exclude any duplicate items.

# Keep ONLY the Duplicates
The intersection_update() method will keep only the items that are present in both sets.

In [28]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

# The intersection() method will return a new set, that only contains the items that are present in both sets.

In [30]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

# Keep All, But NOT the Duplicates
The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [31]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'google', 'microsoft', 'cherry'}

The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

In [32]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'google', 'microsoft', 'cherry'}